# **Phase-1 Project**

### **Business Overview/ Introduction**
For this project, I will use data cleaning, imputation, analysis, and visualization to generate insights for a business stakeholder.The project aims to analyze aviation accident data to determine the lowest-risk aircraft models for commercial and private enterprises. The analysis will provide actionable insights for the company's aviation division to guide their aircraft purchasing decisions.

### **Business Problem**
Your company is expanding in to new industries to diversify its portfolio. Specifically, they are interested in purchasing and operating airplanes for commercial and private enterprises, but do not know anything about the potential risks of aircraft.

### **My Task**
determine which aircraft are the lowest risk for the company to start this new business endeavor

### **Data Understanding**

In this project, I'll work with aviation accident data from the National Transportation Safety Board (NTSB) Dataset, which can be found on 
[kaggle](https://www.kaggle.com/datasets/khsamaha/aviation-accident-database-synopses?select=AviationData.csv). Specifically I will be using **Avition_Data.csv** file for my analysis.

The data is contained in two separate CSV files:

1. `Avition_Data.csv`:the file contains information from 1962 and later about civil aviation accidents and selected incidents within the United States, its territories and possessions, and in international waters.
2. `USState_Codes.csv`:This file contains the US State name and the abbreviation of them

### **Business Understanding**

#### Stakeholder
The primary stakeholder is the head of the company's new aviation division, responsible for making data-driven decisions on aircraft acquisition.

#### Key Business Questions
- Which aircraft models have the lowest accident rates?
- What are the common causes of aviation accidents?
- How do different aircraft manufacturers compare in terms of safety?
- What factors contribute most to aviation risk, and how can they be mitigated?

1. ### **Load Data using pandas**

In the cell below, I:

* Import and alias `pandas` as `pd`
* Import and alias `numpy` as `np`
* Import and alias `seaborn` as `sns`
* Import and alias `matplotlib.pyplot` as `plt`
* Set Matplotlib visualizations to display inline in the notebook

In [1]:
# import the libraries using alias
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

### Import the function from load.py 
In the cell below I import the function `load_data()` from load.py

In [2]:
# Import the function
import load

### Aviation_Data
In the cell below, I load `Aviation_Data.csv` as `df` using the script `load.py`

In [3]:
# load the data the function output .head(), .info(), .describe() of data
#df =load.load_data('data/Aviation_Data.csv')

The above cell output data as expected but the dataset is large to output all details needed .head(), .info(), .describe()

In cell below I will load data using pd as alias, then use method .head(), .info(), .describe() in separate cells

In [4]:
# load data using alias pd and view first 5 reconds of data 

df = pd.read_csv('data\Aviation_Data.csv', low_memory=False)
df.head(10)

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980
5,20170710X52551,Accident,NYC79AA106,1979-09-17,"BOSTON, MA",United States,42.445277,-70.758333,NaN,NaN,...,NaN,Air Canada,NaN,NaN,1.0,44.0,VMC,Climb,Probable Cause,19-09-2017
6,20001218X45446,Accident,CHI81LA106,1981-08-01,"COTTON, MN",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,IMC,Unknown,Probable Cause,06-11-2001
7,20020909X01562,Accident,SEA82DA022,1982-01-01,"PULLMAN, WA",United States,NaN,NaN,NaN,BLACKBURN AG STRIP,...,Personal,NaN,0.0,0.0,0.0,2.0,VMC,Takeoff,Probable Cause,01-01-1982
8,20020909X01561,Accident,NYC82DA015,1982-01-01,"EAST HANOVER, NJ",United States,NaN,NaN,N58,HANOVER,...,Business,NaN,0.0,0.0,0.0,2.0,IMC,Landing,Probable Cause,01-01-1982
9,20020909X01560,Accident,MIA82DA029,1982-01-01,"JACKSONVILLE, FL",United States,NaN,NaN,JAX,JACKSONVILLE INTL,...,Personal,NaN,0.0,0.0,3.0,0.0,IMC,Cruise,Probable Cause,01-01-1982

Get familiar with the data. Steps includes:

* Understanding the dimensionality of the dataset
* Investigating what type of data it contains, and the data types used to store it
* Discovering how missing values are encoded, and how many there are
* Getting a feel for what information it does and doesn't contain

In [5]:
# use .info() method to perfom metadata summary of df

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90348 entries, 0 to 90347
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      90348 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50132 non-null  object
 9   Airport.Name            52704 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87507 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81793 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82505 non-null  object
 30  Publication.Date        73659 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.4+ MB

The cell below, I interpret the metadata information above

In [6]:
"""
The type of df is Dataframe.
Data types: the dataset as 31 columns with 26 columns with object(26) data types
and 5 0nly as float(5).
The entire dataset columns as missing values except column 2 Investigation.Type

"""

'\nThe type of df is Dataframe.\nData types: the dataset as 31 columns with 26 columns with object(26) data types\nand 5 0nly as float(5).\nThe entire dataset columns as missing values except column 2 Investigation.Type\n\n'

In [7]:
# use the .describe() to get statistics summary of df data

df.describe()

,Number.of.Engines,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
count,82805.000000,77488.000000,76379.000000,76956.000000,82977.000000
mean,1.146585,0.647855,0.279881,0.357061,5.325440
std,0.446510,5.485960,1.544084,2.235625,27.913634
min,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,0.000000,0.000000,0.000000,1.000000
75%,1.000000,0.000000,0.000000,0.000000,2.000000
max,8.000000,349.000000,161.000000,380.000000,699.000000

The cell bellow interpret the statistical summary above

In [8]:
"""
df total of 5 columns with float data types
The count indicates total entries of each attribute
Mean is total mean of each attribute
std is the standard deviation of each attribute (how values are far from mean)
MIn and max shows the highest and lowest number in each attribute
25% is the lower quantile range in each attribute
50% is the middle quantile range in each attribute
75% is the upper quantile range in each attribute
"""

'\ndf total of 5 columns with float data types\nThe count indicates total entries of each attribute\nMean is total mean of each attribute\nstd is the standard deviation of each attribute (how values are far from mean)\nMIn and max shows the highest and lowest number in each attribute\n25% is the lower quantile range in each attribute\n50% is the middle quantile range in each attribute\n75% is the upper quantile range in each attribute\n'

In the cell below, inspect the overall shape of the dataframe:

In [9]:
# shape of the df
df.shape

(90348, 31)

2. ## **Perform Data Cleaning**

Based on my df dataset shape I choose to group data into two `numeric_values` and `categorical_values` for faster end efficient cleaning and performing other method and finally concantenate both DataFrame to one using variable `Aviation_df`

* Method inteding to use are **.isna().sum()**, **.isnull()**, **.unique()**, **.value_count()**, **.notna()**, **.fillna()**, **.replace()**, **.drop()**, **.dropna()**, **.duplicated()**, **.drop_duplicated()**

### Identifying and Handling Missing Values

df contains alot of missing values. Let explore deep to know how to deal with the missing values.

In the cell below first I group my dataset into two numeric_values and categorical_values

In [10]:
# group the numeric_values from df

numeric_values = df.select_dtypes(include=[float, int]).columns
list(numeric_values)

['Number.of.Engines',
 'Total.Fatal.Injuries',
 'Total.Serious.Injuries',
 'Total.Minor.Injuries',
 'Total.Uninjured']

The above cell takes only numeric values from df and stores them in variable called numeric_values.

In [11]:
# group the categorical values from df

categorical_values = df.select_dtypes(include=['object']).columns
list(categorical_values)

['Event.Id',
 'Investigation.Type',
 'Accident.Number',
 'Event.Date',
 'Location',
 'Country',
 'Latitude',
 'Longitude',
 'Airport.Code',
 'Airport.Name',
 'Injury.Severity',
 'Aircraft.damage',
 'Aircraft.Category',
 'Registration.Number',
 'Make',
 'Model',
 'Amateur.Built',
 'Engine.Type',
 'FAR.Description',
 'Schedule',
 'Purpose.of.flight',
 'Air.carrier',
 'Weather.Condition',
 'Broad.phase.of.flight',
 'Report.Status',
 'Publication.Date']

In cell above I only take the categorical values from df and stored them in variable known as categorical_values

### Next I want to perform cleaning first on numeric_values DataFrame

In [12]:
# check for all missing values

df[numeric_values].isna().sum()

Number.of.Engines          7543
Total.Fatal.Injuries      12860
Total.Serious.Injuries    13969
Total.Minor.Injuries      13392
Total.Uninjured            7371
dtype: int64

The cell below interpret the numeric_values dataframe

In [13]:
"""
The numeric_values df as total of 5 columns both are float
Attribute Number.of.Engines as total of 7543 missing from 90348
Attribute Total.Fatal.Injuries  as total of 12860 missing from 90348
Attribute Total.Serious.Injuries  as total of 13969 missing from 90348
Attribute Total.Minor.Injuries   as total of Total.Uninjured   missing from 90348
Attribute Total.Fatal.Injuries  as total of  7371 missing from 90348

"""

'\nThe numeric_values df as total of 5 columns both are float\nAttribute Number.of.Engines as total of 7543 missing from 90348\nAttribute Total.Fatal.Injuries  as total of 12860 missing from 90348\nAttribute Total.Serious.Injuries  as total of 13969 missing from 90348\nAttribute Total.Minor.Injuries   as total of Total.Uninjured   missing from 90348\nAttribute Total.Fatal.Injuries  as total of  7371 missing from 90348\n\n'

In [14]:
# check the shape of the numeric_values df

df[numeric_values].shape

(90348, 5)

### Dealing with missing values in numeric_values DataFrame

As total entries is 90348 and missing values range is small I choose to impute all missing values using median() as it will not affect the std . I will use **fillna()** method to impute

In [15]:

# Impute missing values in numeric columns using median
df[numeric_values] = df[numeric_values].fillna(df[numeric_values].median())

Above cell impute for all missing values in numeric_values using median()

In cell below I execute .info() method in numeric_values and .shape to check if the values have been imputed:

In [16]:
# check the summary of the data

df[numeric_values].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90348 entries, 0 to 90347
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Number.of.Engines       90348 non-null  float64
 1   Total.Fatal.Injuries    90348 non-null  float64
 2   Total.Serious.Injuries  90348 non-null  float64
 3   Total.Minor.Injuries    90348 non-null  float64
 4   Total.Uninjured         90348 non-null  float64
dtypes: float64(5)
memory usage: 3.4 MB

The cell below check for any duplicates values in numeric_values DataFrame

In [37]:
# check for any duplicates values in numeric_values

df[numeric_values].duplicated().sum()

0

In [18]:
# check for the shape before droping duplicates
df[numeric_values].shape

(90348, 5)

In the above cell I checked for duplicated It shows some of records contains duplicates in numeric_values. I choose to drop all the duplicates in the cell bellow

In [19]:

# Remove duplicates in numeric columns
df = df.drop_duplicates(subset=numeric_values)

In [20]:
# check if all duplicates as been removed
df.duplicated()

0        False
1        False
2        False
4        False
5        False
         ...
90185    False
90201    False
90205    False
90293    False
90314    False
Length: 2743, dtype: bool

Cell above check if duplicates have been successfully been removed and they have been removed.

The cell below check for shape of numeric dataframe after removing the duplicates

In [36]:
# check for the shape after removing
df[numeric_values].shape

(2743, 5)

The shape as reduced as the duplicates as been removed

In [22]:
# assigned remove_duplicates in numeric_values to apply changes 
#numeric_values = remove_duplicates.columns.tolist()  # Ensure it's a list of column names

### Next Step Take categorical_values and Deal with Missing Values and duplicates

for categorical values I will use .unique(), .value_counts() .dropna(), .drop() and isna().sum()

In [35]:
missing_percent=(df[categorical_values].isna().sum() / len(df[categorical_values])) * 100
missing_percent

Event.Id                  0.000000
Investigation.Type        0.000000
Accident.Number           0.000000
Event.Date                0.000000
Location                  0.000000
Country                   0.000000
Latitude                 76.121035
Longitude                76.084579
Airport.Code              0.000000
Airport.Name              0.000000
Injury.Severity           0.000000
Aircraft.damage           0.000000
Aircraft.Category         0.000000
Registration.Number       0.000000
Make                      0.000000
Model                     0.000000
Amateur.Built             0.000000
Engine.Type               0.000000
FAR.Description           0.000000
Schedule                  0.000000
Purpose.of.flight         0.000000
Air.carrier               0.000000
Weather.Condition         0.000000
Broad.phase.of.flight     0.000000
Report.Status             0.000000
Publication.Date          0.000000
dtype: float64

The cell above checks for missing values and founds out that only one attribute as all values other have missing values. Converted them into percentage. 


The cell below explains the output above and stragey to use for the missing values

In [24]:
"""
Most attributes have very low percentage of missing around 15 
Both Latitude and Longitude have slightly high percent best approach to use is fill them using mode or drop
for the attributes with high percents such as schedule and Air.carrier is good to drop
             

"""

'\nMost attributes have very low percentage of missing around 15 \nBoth Latitude and Longitude have slightly high percent best approach to use is fill them using mode or drop\nfor the attributes with high percents such as schedule and Air.carrier is good to drop\n             \n\n'

For all attributes with low percents I will impute them using mode.
Fist I store them in a variable known as `low_percent` and impute them using mode in cell below

In [25]:
# Categorize columns based on missing percentage

low_percent = missing_percent[missing_percent < 50].index.tolist()
middle_percent = missing_percent[(missing_percent >= 50) & (missing_percent <= 65)].index.tolist()
high_percent = missing_percent[missing_percent > 80].index.tolist()

# Print results
print("Low Missing Values (<50%):", low_percent)
print("Middle Missing Values (50-65%):", middle_percent)
print("High Missing Values (>80%):", high_percent)

Low Missing Values (<50%): ['Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date', 'Location', 'Country', 'Injury.Severity', 'Aircraft.damage', 'Registration.Number', 'Make', 'Model', 'Amateur.Built', 'Engine.Type', 'Schedule', 'Purpose.of.flight', 'Weather.Condition', 'Broad.phase.of.flight', 'Report.Status', 'Publication.Date']
Middle Missing Values (50-65%): ['Airport.Code', 'Airport.Name', 'Aircraft.Category', 'FAR.Description', 'Air.carrier']
High Missing Values (>80%): []

In the above cell I just grouped all attributes with less than 50 % to variable called low_percent with intede to impute them with mode and the one between 50 to 65 % to a variable `middle_percent` to impute with 'unknown' and those with 80% stored them to variable `high_percent`and drop them since the missing values are alot

In [26]:
# Impute low_percent columns with mode
for col in low_percent:
    df[col].fillna(df[col].mode()[0], inplace=True)

# Impute middle_percent columns with "Unknown"
for col in middle_percent:
    df[col].fillna("Unknown", inplace=True)

# Drop high_percent columns
df.drop(columns=high_percent, inplace=True)

C:\Users\ronny somi\AppData\Local\Temp\ipykernel_12492\1442983734.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mode()[0], inplace=True)
C:\Users\ronny somi\AppData\Local\Temp\ipykernel_12492\1442983734.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna("Unknown", inplace=True)

In [27]:
# Recalculate categorical columns after dropping
categorical_values = df.select_dtypes(include=['object']).columns

the cell above I create a for loop to iterate through low_percent and impute all missing values with mode as the percent of the missing values was not too high. And for the middle_percent i iterate with for loop to impute with 'unknown' and lastly for all missing values with 80% and above I droped them as it is hard to impute them.
The **inplace = True** is used to change the list but not return new one

The cell below reinitilizes the categorical_values dataframe after droping column `Schedule` and `Air.Carrier` to avoid geting errors

Then goes ahead to check for empty values again

In [28]:


df[categorical_values].isna().sum()

Event.Id                    0
Investigation.Type          0
Accident.Number             0
Event.Date                  0
Location                    0
Country                     0
Latitude                 2088
Longitude                2087
Airport.Code                0
Airport.Name                0
Injury.Severity             0
Aircraft.damage             0
Aircraft.Category           0
Registration.Number         0
Make                        0
Model                       0
Amateur.Built               0
Engine.Type                 0
FAR.Description             0
Schedule                    0
Purpose.of.flight           0
Air.carrier                 0
Weather.Condition           0
Broad.phase.of.flight       0
Report.Status               0
Publication.Date            0
dtype: int64

Perfect the categorical_values is now clean and ready to work with

In [29]:
# checks if all missing values have been imputed
df[categorical_values].info()

<class 'pandas.core.frame.DataFrame'>
Index: 2743 entries, 0 to 90314
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Event.Id               2743 non-null   object
 1   Investigation.Type     2743 non-null   object
 2   Accident.Number        2743 non-null   object
 3   Event.Date             2743 non-null   object
 4   Location               2743 non-null   object
 5   Country                2743 non-null   object
 6   Latitude               655 non-null    object
 7   Longitude              656 non-null    object
 8   Airport.Code           2743 non-null   object
 9   Airport.Name           2743 non-null   object
 10  Injury.Severity        2743 non-null   object
 11  Aircraft.damage        2743 non-null   object
 12  Aircraft.Category      2743 non-null   object
 13  Registration.Number    2743 non-null   object
 14  Make                   2743 non-null   object
 15  Model                  2743 non-null   object
 16  Amateur.Built          2743 non-null   object
 17  Engine.Type            2743 non-null   object
 18  FAR.Description        2743 non-null   object
 19  Schedule               2743 non-null   object
 20  Purpose.of.flight      2743 non-null   object
 21  Air.carrier            2743 non-null   object
 22  Weather.Condition      2743 non-null   object
 23  Broad.phase.of.flight  2743 non-null   object
 24  Report.Status          2743 non-null   object
 25  Publication.Date       2743 non-null   object
dtypes: object(26)
memory usage: 578.6+ KB

In [30]:
# checking the shape of the categorical_values after imputing
df[categorical_values].shape

(2743, 26)

The shape of categorical_values reduces the columns from 26 to 24 as I just droped two columns `Schedule` and `Air.Carrier`


The cell below checks for duplicates value

In [31]:
# checking for duplicates 

df[categorical_values].duplicated()

0        False
1        False
2        False
4        False
5        False
         ...
90185    False
90201    False
90205    False
90293    False
90314    False
Length: 2743, dtype: bool

No duplicates found in categorical_values

## **Next step I will Concatenate my two df numeric_values and categorical_values to one** 

I will store them in **Avition_df** as one for efficient working with

In [32]:
# Create the final DataFrame
Avition_df = pd.concat([df[categorical_values], df[numeric_values]], axis=1)
Avition_df.head()

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Air.carrier,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date,Number.of.Engines,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,Unknown,Unknown,...,Unknown,UNK,Cruise,Probable Cause,25-09-2020,1.0,2.0,0.0,0.0,0.0
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,Unknown,Unknown,...,Unknown,UNK,Unknown,Probable Cause,19-09-1996,1.0,4.0,0.0,0.0,0.0
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,Unknown,Unknown,...,Unknown,IMC,Cruise,Probable Cause,26-02-2007,1.0,3.0,0.0,0.0,1.0
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,Unknown,Unknown,...,Unknown,VMC,Approach,Probable Cause,16-04-1980,1.0,1.0,2.0,0.0,0.0
5,20170710X52551,Accident,NYC79AA106,1979-09-17,"BOSTON, MA",United States,42.445277,-70.758333,Unknown,Unknown,...,Air Canada,VMC,Climb,Probable Cause,19-09-2017,2.0,0.0,0.0,1.0,44.0

In [33]:
Avition_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2743 entries, 0 to 90314
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                2743 non-null   object
 1   Investigation.Type      2743 non-null   object
 2   Accident.Number         2743 non-null   object
 3   Event.Date              2743 non-null   object
 4   Location                2743 non-null   object
 5   Country                 2743 non-null   object
 6   Latitude                655 non-null    object
 7   Longitude               656 non-null    object
 8   Airport.Code            2743 non-null   object
 9   Airport.Name            2743 non-null   object
 10  Injury.Severity         2743 non-null   object
 11  Aircraft.damage         2743 non-null   object
 12  Aircraft.Category       2743 non-null   object
 13  Registration.Number     2743 non-null   object
 14  Make                    2743 non-null   object
 15  Model                   2743 non-null   object
 16  Amateur.Built           2743 non-null   object
 17  Engine.Type             2743 non-null   object
 18  FAR.Description         2743 non-null   object
 19  Schedule                2743 non-null   object
 20  Purpose.of.flight       2743 non-null   object
 21  Air.carrier             2743 non-null   object
 22  Weather.Condition       2743 non-null   object
 23  Broad.phase.of.flight   2743 non-null   object
 24  Report.Status           2743 non-null   object
 25  Publication.Date        2743 non-null   object
 26  Number.of.Engines       2743 non-null   float64
 27  Total.Fatal.Injuries    2743 non-null   float64
 28  Total.Serious.Injuries  2743 non-null   float64
 29  Total.Minor.Injuries    2743 non-null   float64
 30  Total.Uninjured         2743 non-null   float64
dtypes: float64(5), object(26)
memory usage: 685.8+ KB

In [34]:
Avition_df.shape

(2743, 31)